.donation {
    background: #F6F6F6;
    padding: 80px 0 100px 0;
    &__container {
        max-width: 56.0625rem;
        margin: 0 auto;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .info-block {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 0 0 0 30px;

        &__title {
            font-size: 2.1875rem;
            font-family: Georgia;
            letter-spacing: 0.06em;
            line-height: 1.3em;
            color: #545454;
        }

        &__bank {
            color: #545454;
            font-family: Georgia;
            font-size: 0.9375rem;
            line-height: 1.1em;
            letter-spacing: 0.06em;
            margin: 1.3333em 0 0 0;
        }

        &__card-number {
            display: flex;
            align-items: center;
            background: #F1CDB3;
            padding: 10px 15px;
            border-radius: 9px;
            margin: 1em 0 0 0;

            color: #545454;
            font-family: Georgia;
            font-size: 1.25rem;
            line-height: 1.15em;
            letter-spacing: 0.06em;

            img {
                margin: 0 0.75em 0 0;
            }
        }

        &__other {
            margin: 1.6666em 0 0 0;
            font-family: Arial;
            color: #B2B2B2;
            font-size: 0.75rem;
            line-height: 1.5em;
            font-style: italic;
        }
    }
}