@import '_buttons.scss';

.friends {
    background: #F6F6F6;
    padding: 5.1875rem;
    &__container {
        max-width: 75rem;
        margin: 0 auto;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-size: 2.1875rem;
        font-family: Georgia;
        letter-spacing: 0.06em;
        line-height: 1.3em;
        color: #545454;
        text-align: center;
    }
}

.slider {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 3.25rem;

    button {
        width: 52px;
        height: 52px;
        border-radius: 50%;
        border: 2px solid #F1CDB3;
        background: none;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    &__view {
        width: 82.5%;
    }

    &__track {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #FAFAFA;
        padding: 0 0 1.875rem 0;
    }

    &__title {
        font-family: Georgia;
        font-size: 1.25rem;
        color: #545454;
        line-height: 1.136em;
        letter-spacing: 0.06em;
        margin: 1.45em 0;
    }

    &__btn-more {
        @extend %button;
    }

    &__btn-rest {
        @extend %button;
        background: #F1CDB3;
        margin-top: 3.75rem;
    }
}